*{
    padding: 0;
    margin: 0;
}

/* #divBlock{
    width:100px;
    height:100px;
    background-color:green;
    border-radius: 50%;
} */

#navigationBar{
    /* display: flex;
    justify-content: space-between; */
    background-color: #0f1111;
    border: 5px solid #f08804;
    height: 60px;
    align-items: center; 
}

#navBar{
    display:flex;
    justify-content: space-between;
    background-color: #0f1111;
    border: 5px solid #f08804;
    height: 60px;
    align-items: center; 
}

#logo{
    text-decoration: none;
    font-size: 25px;
    color: #f08804;
}

a{
    text-decoration: none;
    margin-right: 200px;
    color: white;
}

#searchButton{
    background-color: #f08804;
}

main{
    height: auto;
}

#topBanner{
    display: flex;
    justify-content: center;
    align-items:flex-start;
    height: 50px;
}

#topBanner div{
    font-size: 20px;
    align-self: center;
}


#divA{
    width: 100px;
    height: 100px;
    border: 2px solid #0f1111;
    background-color: rgba(255,0,0,0.5);
    display: inline-block;
}

#divB{
    width: 100px;
    height: 100px;
    border: 2px solid #0f1111;
    background-color: rgba(0,255,0,0.5);
    display: inline-block;
}

#divC{
    width: 100px;
    height: 100px;
    border: 2px solid #0f1111;
    background-color: rgba(0,0,255,0.5);
    display: inline-block;
}

footer{
    background-color: #0f1111;
    height: 100px;
    text-align: center;
}

#fixedAttachment{
    width: 200px;
    height: 200px;
    background-image:url("./images/fixedShoppingImage.jpg");
    background-size: cover;
    position: fixed;
    top: 200px;
    right: 0;
}